Package: com.thatmarcel.tweaks.docktyle
Name: Docktyle
Depends: mobilesubstrate, com.spark.libsparkcolourpicker, preferenceloader, ws.hbang.common (>= 1.11)
Version: 1.1
Architecture: iphoneos-arm
Description: Unlock other dock styles
Maintainer: Marcel Braun
Author: Marcel Braun
Section: Tweaks
